<launch>
   <node name="canlistener" pkg="VehicleDataReader" type="canlistener" args="" respawn="true" output="screen" />
   <node name="anamoly_detector" pkg="VehicleDataReader" type="anamoly_detector" args="3" respawn="true" />
   <node name="canparser" pkg="VehicleDataReader" type="canparser" args="" respawn="true" />
</launch>

